@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

div.newgames {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#87ceeb, #00a6e8);
  color: #ffffff;
  overflow: hidden;
}

div.box {
  width: 80%;
  padding: 60px 0px;
  margin-top: 50px;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 93px -33px #000000bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.green {
  background: #279AF1;
  color: white;
  padding: 10px 20px;
  width: 80%;
  font-size: 2em;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  outline: none;

}

button.green:hover {
  background: #279AF1;
}

div.userinput {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    background: white;
    position: absolute;
    bottom: 18vh;
    box-shadow: 10px 10px 93px -33px #000000bf;
}

h2.readyMessage {
    font-family: 'Open Sans';
    text-align: center;
}

input {
    width: 75%;
    height: 30px;
    font-size: 1.5em;
    border: 3px solid gray;
    border-radius: 5px;
    margin-bottom: 30px;
}

input:focus {
    outline: none;
}

div.roomid {
    height: 7vh;
    position: absolute;
    top: 5vh;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 2em;
}

div.readymessage {
    height: 10vh;
    position: absolute;
    bottom: 160px;
    font-size: 2em;
}

div.footer {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

button.ready {
    padding: 10px 10px;
    width: 100%;
    font-size: 1.6em;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    outline: none;
    position: absolute;
    bottom: 12vh;
    width: 40%;
    max-width: 200px;
}

button.ready.g {
    background: #2bd73f;
    color: white;
}

button.ready.g:hover {
    background: #279AF1;
}

button.ready.r {
    background: white;
    color: linear-gradient(#FFC53A, #F97400);
}

button.ready.r:hover {
    background: #e2e2e2;
}

div.userbox {
    position: absolute;
    top: 100px;
    height: 295px;
    
    overflow-y: scroll;
    
}
div.userbubble {
    width: 80vw;
    height: 6.5vh;
    padding: 5px 5px;
    background: white;
    color: black;
    font-family: 'Open Sans';
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 10px 10px 74px -9px rgba(0,0,0,0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px;
    position: relative;
}

img.userImage{
    border-radius: 50px;
    width: 38px;
    height: 38px;
    z-index: 100;
}
.image-div{
    width: 100%;
    height: 100%;
    z-index: 100;
}
.image-div:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,140,0,.5);
    border-radius: 50px;
    filter: brightness(1.3) saturate(6);
    z-index: 101;
}
.main-image-div{
    width: 38px;
    height: 38px;
    position: absolute;
    left: 5%;
    top: 15%;
    
}
.stem-new {
    width: 4px;
    height: 10px;
    background-color: #654321;
    z-index: 199;
    position: absolute;
    top: -19%;
    left: 45%;
    border-radius: 10px;
}
.leaf1-new {
    width: 10px;
    height: 15px;
    background-color: green;
    border: 1px solid darkgreen;
    position: absolute;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    top: -32%;
    left: 60%;
    transform: rotate(25deg);
    z-index: 198;
}
.leaf2-new {
    width: 10px;
    height: 15px;
    background-color: green;
    border: 1px solid darkgreen;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(-35deg);
    top: -27%;
    right: 60%;
    z-index: 200;
}


