@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.Pending-App {
  background: linear-gradient(skyblue, rgb(0, 153, 255));
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Pending-App h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
    font-family: 'Open Sans';
    font-weight: 600;
    color: white;
}

.Pending-Text {
  padding: 0px 20px;
}

#cloud1{
  top: 550px;
  left: -60px;
  width: 60px;
  height: auto;
  position: absolute;
  animation-name: moveLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#cloud2 {
  top: 35px;
  left: -100px;
  width: 100px;
  height: auto;
  position: absolute;
  animation-name: moveLeft;
  animation-duration: 22s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 6s;
}
#cloud3 {
  top: 190px;
  right: -70px;
  width: 30px;
  height: auto;
  position: absolute;
  animation-name: moveRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  opacity: 0.6;
}
#cloud4 {
  top: 10px;
  right: -60px;
  width: 60px;
  height: auto;
  position: absolute;
  animation-name: moveRight;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 10s;
  
}
@keyframes moveLeft {
  0% {transform: translateX(-50px)}
  10% {transform: translateX(100px)}
  20% {transform: translateX(200px)}
  30% {transform: translateX(300px)}
  40% {transform: translateX(400px)}
  50% {transform: translateX(500px)}
  60% {transform: translateX(600px)}
  70% {transform: translateX(700px)}
  80% {transform: translateX(800px)}
  90% {transform: translateX(900px)}
  100% {transform: translateX(1000px)}
}
@keyframes moveRight {
  0% {transform: translateX(-50px)}
  10% {transform: translateX(-100px)}
  20% {transform: translateX(-200px)}
  30% {transform: translateX(-300px)}
  40% {transform: translateX(-400px)}
  50% {transform: translateX(-500px)}
  60% {transform: translateX(-600px)}
  70% {transform: translateX(-700px)}
  80% {transform: translateX(-800px)}
  90% {transform: translateX(-900px)}
  100% {transform: translateX(-1000px)}
}