@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

div.game {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-family: 'Open Sans';
}

div.Qcard {
  height: 50vh;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

div.Acard {
  height: 50vh;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: white;
}

div.Acard:focus {
  outline: none;
}