@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

div.Game-App {
    background: linear-gradient(#FFC53A, #F97400);
    width: 411px;
}
div.game {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-family: 'Open Sans';
}

div.Qcard {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

div.Acard {
  height: 50vh;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
@media only screen and  (min-width: 1100px) {
    .Game-App {

    }
    div.Acard {
        height: 49vh;
        width: 100%;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -40px;
      }
}