@import url('https://fonts.googleapis.com/css?family=Bangers|Gudea');

.Loading-App {
  background-color: black;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Loading-Icon {
  margin-top: 50px;
}
.Loading-App h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 2.5em;
  color: #f2f2f2;
  font-family: 'Gudea', sans-serif;
}

.waitingOnPlayers {
  height: 30vh;
  overflow-y: scroll;
}

div.waitingOnBubble {
  width: 80vw;
  height: 6vh;
  padding: 5px 5px;
  background: white;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 10px 10px 74px -9px rgba(0,0,0,0.60);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  margin: 10px;
}

img.userImageLoading{
  position: absolute;
  left: 10%;
  border-radius: 50px;
}