@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


div.container {
    width: 100%;
    
    font-family: 'Open Sans';
}

div.bottomNav {
    width: 100%;
    height: 7vh;
    background: white;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    color: black;
    display: flex;
    justify-content: center;
}

div.bottomNav i {
    color: black;
    margin-bottom: 2px;
}

div.sectionOne {
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

img.userNavImage{
    position: absolute;
    left: 5%;
    border-radius: 50px;
}

.score{
    position: absolute;
    right: 10%;
    font-weight: 800;
}