@import url('https://fonts.googleapis.com/css?family=Bangers|Gudea');

div.endgame {
    background: linear-gradient(#87ceeb, #00a6e8);
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   
}

div.EndRound {
    height: 10vh;
}

div.winner {
    text-align: center;
    padding-top: 10vh;
}

div.winner h1 {
    font-size: 3.5em;
    margin-bottom: -20px;
}
.endgame h1 {
    font-family: 'Bangers', cursive;
    color: white;
}

div.winner h2 {
    font-size: 2em;
}

img.userEndImage{
    position: absolute;
    left: 10%;
    border-radius: 50px;
}

.endscore{
    position: absolute;
    right: 15%;
}

