@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

div.endgame {
    background: linear-gradient(#87ceeb, #00a6e8);
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   
}
#answerCard-endgame{
    color: #333;
    background-color: #5BC85B;
    border-radius: 20px;
    width: 137px;
    height: 160px;
    text-align: left;
    padding: 0px 10px;
    padding-top: 10px;
    box-shadow: 10px 10px 93px -33px #000000bf;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.endgame-users{
    height: 40vh;
    overflow-y: scroll;
    border-radius: 20px;
}

div.EndRound {
    height: 10vh;
}

div.winner {
    text-align: center;
    padding-top: 10vh;
}

div.winner h1 {
    font-size: 3.5em;
    margin-bottom: -20px;
}
.endgame h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    color: white;
}

div.winner h2 {
    font-size: 2em;
}

img.userEndImage{
    position: absolute;
    left: 10%;
    border-radius: 50px;
}

.endscore{
    position: absolute;
    right: 15%;
}

.thinner-button{
    max-width: 300px;
    border: none;
}

