@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

div.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#87ceeb, #00a6e8);
  color: #ffffff;
  font-family: 'Open Sans';
}

div.logo {
  position: absolute;
  top: 0;
}

div.joinbox {
  width: 80%;
  padding: 50px 0px;
  margin-top: -50px;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 93px -33px #000000bf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
}

button.green {
  background: #279AF1;
  color: white;
  padding: 5px 20px;
  width: 80%;
  font-size: 2em;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  outline: none;

}

button.green:hover {
  background: #279AF1;
}

input {
  width: 75%;
  height: 30px;
  padding: 10px 0px;
  font-size: 1.5em;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid rgb(232, 232, 232);
  text-align: center;  
}

input:focus {
    outline: none;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent; 
}