div.header {
  height: 10vh;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
