.qcard{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 80%;
    height: 20vh;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

h1 {
    font-size: 1.5em;
}

h3 {
    margin-top: 20px;
    font-size: 1.3em;
    line-height: 1.5em;
}